@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --primary: #004156;
  --secondary: #A1C7DC;
  --tertiary: #E5F7FF;

  --text-primary: #004156;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --secondary: #E5F7FF;
    --tertiary: #A1C7DC;

    --text-primary: #E5F7FF;
  }
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  color: var(--text-primary);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .grid-container {
    @apply grid gap-y-4 gap-x-8 lg:grid-cols-4 md:grid-cols-2 sm:grid-cols-1 pb-8;
  }

  .icon {
    @apply lg:size-8 md:size-6 sm:size-4 text-primary;
  }

  .label {
    @apply font-bold text-xs text-gray-500;
  }

  .link {
    @apply text-sm text-gray-500 hover:underline hover:text-blue-500 transition-all;
  }
}
